NODE_ENV=develop

COOKIE_SECRET=

MONGODB_HOST=host.docker.internal:27018
# MONGODB_USERNAME=
# MONGODB_PASSWORD=111111
MONGODB_DB_NAME=production-todo

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASSWORD=

API_URL=http://localhost:4444
CLIENT_URL=http://localhost:3000
